<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" userInstalled="true" />
  <package id="jQuery.UI.Combined" version="1.11.4" userInstalled="true" />
  <package id="Jquery.UI.Theme.uidarkness" version="1.8.23" targetFramework="uap10.0.10069" userInstalled="true" />
</packages>